# PROYECTO EDA: 'AN√ÅLISIS EXPLOTARIO DE IMPACTOS/OBERSERVACIONES DE METEORITOS.'

## IMPORTS.

In [1]:
import numpy as np
import pandas as pd

## CARGA DE DATOS.

In [5]:
# Importo el dataset principal con el que voy a trabajar.

data_nasa = pd.read_csv('./data/dataset_nasa.csv')

# Compruebo los datos.

data_nasa.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,01/01/1880 12:00:00 AM,50.77500,6.08333,"(50.775000, 6.083330)"
1,Aarhus,2,Valid,H6,720.0,Fell,1/1/1951,56.18333,10.23333,"(56.183330, 10.233330)"
2,Abee,6,Valid,EH4,107000.0,Fell,1/1/1952,54.21667,-113.00000,"(54.216670, -113.000000)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1/1/1976,16.88333,-99.90000,"(16.883330, -99.900000)"
4,Achiras,370,Valid,L6,780.0,Fell,1/1/2002,-33.16667,-64.95000,"(-33.166670, -64.950000)"

In [4]:
data_nasa.shape

(45716, 10)